html, body {
 background-color: #4c5e40;
}

html, body, div, p, a, input, textarea {
 font-family: arial, verdana, sans-serif;
}

header {
 position: absolute;
 width: 100%;
 z-index: 500
}

.mr-field {
 background: #273421 url('images/memerace-bg.jpg') repeat 0 0;
 padding: 0;
}

#main {
}

#content, .mr-footer-content {
 padding: 40px 2%;
}

#content {
 background-color: #fcfff5;
 margin-top: -100px;
 margin-bottom: 70px;
 border-radius: 6px 6px 0 0;
}

#content, #mr-footer {
 box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

footer {
}

#mr-footer {
 margin-top: -100px;
 background-color: #1d251a;
 border-radius: 0 0 6px 6px;
}

.mr-footer-content {
 min-height: 150px;
}

/* Custom container */
.container {
 margin: 0 auto;
 max-width: 1000px;
}
.container > hr {
 margin: 40px 0;
}

.containerPadded {
 padding: 25px;
 background: #f1f1f1;
 box-shadow: 0 0 6px #000;
}

/* Hero */
.hero {
 color: #fff;
 padding: 130px 0 100px;
 margin-bottom: 10px;
 text-align: center;
 background: url('images/memerace-hero.jpg') no-repeat center 0;
 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.hero h1 {
 margin-bottom: 30px;
 font-size: 40px;
 line-height: 1;
 text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.hero .lead {
 font-size: 20px;
 line-height: 1.25;
 text-align: justify;
}
.hero .btn {
 font-size: 21px;
 padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
 margin: 60px 0;
}
.marketing p + h4 {
 margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
 padding: 0;
}
.navbar .nav {
 margin: 0;
 display: table;
 width: 100%;
}
.navbar .nav li {
 display: table-cell;
 width: 1%;
 float: none;
}
.navbar .nav li a {
 color: #f9f9f9;
 font-weight: bold;
 text-align: center;
 border-left: 1px solid rgba(255, 255, 255, 0.05);
 border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.navbar .nav li:first-child a {
 border-left: 0;
 border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
 border-right: 0;
 border-radius: 0 3px 3px 0;
}
.navbar .nav li a:hover, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
 color: #eee;
}

/* Meme Racing styles */
.text-justify {
 text-align: justify;
}
.mr-header, .bc-addr {
 color: #fff;
}
.bc-addr {
 margin-top: 10px;
 padding: 6px 10px;
 background: rgba(0, 0, 0, 0.4);
 text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
 border-radius: 2px;
}

span.note {
    cursor: pointer;
    color: red;
}

/* Overlays */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    display: none;
}

input.betCalc {
    width: 75px;
}

span.timer {
    font-size: 14pt;
}

/* register prompt forms */
form.regPrompt {
}
form.regPrompt input {
 font-size: 1.6em;
}
form.regPrompt input[type="text"] {
 height: 1.6em;
 width: 400px;
}

/* propose your answer styles */

.prop form input[name='answer'] {
 width: 320px;
}

#myOrder li {
    background-color: #3A5D2D;
    border: 3px solid #814836;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 2px #D14836 inset;
    color: #FFFFFF;
    font-size: 1.1em;
    margin: 4px 0;
    padding: 1% 2.5%;
}

/* Footer area styles */

.copyright {
 margin-top: 20px;
 margin-bottom: 20px;
 color: #eee;
}
